<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace = "fragments/base.html :: bootstrap"></th:block>
		<style th:replace="fragments/base.html :: style"></style>
		<style>
			#tornei{
				display:flex;
				justify-content:center;
				flex-direction:column;
				align-items:center;
				padding-top:10%;
				width:95;
				
			}
			
			.card{
				width:75%;
				position:unset;
			}
			
		</style>
	</head>
	<body>
		<header>
			<script th:replace = "fragments/base.html :: script"></script>
			<nav th:replace = "fragments/base.html :: nav_bar"></nav>
			<div th:replace = "fragments/base.html :: menu"></div>
		</header>

		<div id="tornei">
	    	<div  th:each="torneo : ${tornei}" class="card mb-3">
			  <div class="row g-0">
			    <div class="col-md-4" th:if="${torneo.yes}">
			      <img th:src="@{/images/belmonte.jpg}" class="img-fluid rounded-start" alt="...">
			    </div>
			    <div class="col-md-8">
			      <div class="card-body">
			        <h5 class="card-title">Card title</h5>
			        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			      </div>
			    </div>
			    <div class="col-md-4" th:unless="${torneo.yes}">
			      <img th:src="@{/images/belmonte.jpg}" class="img-fluid rounded-start" alt="...">
			    </div>
			  </div>
			</div>
		</div>
			
	</body>
</html>