<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace = "fragments/base.html :: bootstrap"></th:block>
		<style th:replace="fragments/base.html :: style"></style>
		<style>		
			div.gruppo{
			padding-top: 2%;
			padding-left: 45%;
			padding-bottom:3%;
			}
			
			.h2{
				text-align:left;
			}
			
			#input_code{
				display:flex;
				align-items:center;
				justify-content:space-between;
			}
			
			#input_code>span{
				padding-left:6%;
			}
			
			h5,h2{
				padding-top:2%;
			}
			
			.button{
				width:20%;
				display:flex;
				
			}
			
		</style>
	</head>
	<body>
		<header th:replace="fragments/base.html :: intestazione"></header>
		<div class="gruppo">
			<div class="h2"><h2>INSERISCI DATI DELA SALA PARTNER</h2></div>
			<form class="row g-3" th:action="@{/admin/nuovaSala}" method="POST">
				<div class="dati">
				  <div class="col-md-6">
				    <label for="inputEmail4" class="form-label">Nome:</label>
				    <input type = "text" th:text="${sala.nome}" th:field = "${sala.nome}" class="form-control" required>
				  </div>	  
				 <div class="col-md-6">
				    <label for="inputPassword4" class="form-label">Descrizione:</label>
				    <textarea  th:text="${sala.descrizione}"th:field = "${sala.descrizione}"  cols="20" rows="10" class="form-control" required></textarea>
				  </div> 
				  <h5>Indirizzo:</h5>
				  <div class="col-md-6">
				    <label for="inputEmail4" class="form-label">Via:</label>
				    <input type = "text"   th:text="${indirizzo.via}"th:field = "${indirizzo.via}" class="form-control" required>
				  </div>
				  <div class="col-md-2">
				    <label for="inputZip" class="form-label">Civico:</label>
				    <input type = "text"  th:text="${indirizzo.civico}" th:field = "${indirizzo.civico}" class="form-control" id="inputZip" required >
				  </div>
				  <div class="col-md-2">
				    <label for="inputZip" class="form-label">CAP:</label>
				    <input type = "text"  th:text="${indirizzo.cap}" th:field = "${indirizzo.cap}" class="form-control" id="inputZip" required >
				  </div>
				  <div class="col-md-6">
				    <label for="inputEmail4" class="form-label">Città:</label>
				    <input type = "text"  th:text="${indirizzo.citta}" th:field = "${indirizzo.citta}" class="form-control" required>
				  </div>
				  <div class="col-md-6">
				    <label for="inputEmail4" class="form-label">Provincia:</label>
				    <input type = "text"  th:text="${indirizzo.provincia}" th:field = "${indirizzo.provincia}" class="form-control" required>
				  </div>
				  <div class="col-md-6">
				    <label for="inputEmail4" class="form-label">Nazione:</label>
				    <input type = "text"   th:text="${indirizzo.nazione}"th:field = "${indirizzo.nazione}" class="form-control" required>
				  </div>
			  	</div>
			  <div class="col-12">
			    <div class="button"><a th:href="@{/admin}">Torna Indietro</a><button type="submit" class="btn btn-dark">Inserisci</button></div>
			  </div>
			</form>
			
		</div>
	</body>
</html>