<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace = "fragments/base.html :: bootstrap"></th:block>
		<style th:replace="fragments/base.html :: style"></style>
		<style>
		.torneo{
			display:flex;
			flex-direction:column;
			justify-content: center;
			align-items:center;
			padding:4%;
			position:unset;
		}
		
		#titolo{
			text-align:center;
		}
		</style>
	</head>
	<body>
		<header>
			<script th:replace = "fragments/base.html :: script"></script>
			<nav th:replace = "fragments/base.html :: nav_bar"></nav>
			<div th:replace = "fragments/base.html :: menu"></div>
		</header>	
		<div class="torneo" >
			<div id="titolo">
				<h3>TORNEO BELMONTE</h3>
				<small class="text-muted">PBA - Professional Bowlers Association</small>
			</div>
			<div class="card mb-4" style="width:65%;">
		  		<img th:src="@{/images/belmonte.jpg}" class="card-img-top" alt="...">
	  			<div class="card-body">
		    		<h5 class="card-title">INFORMAZIONI TORNEO:</h5>
		    		<p class="card-text">Torneo oraganizzato dalla PBA, in occasione di tutti i più grandi giocatori di bowling del ventunesimo secolo.</p>
		    		<ul class="list-group list-group-flush">
					  <li class="list-group-item">Nome torneo: </li>
					  <li class="list-group-item">Descrizione: </li>
					  <li class="list-group-item">Data inizio torneo:</li>
					  <li class="list-group-item">Data fine torneo:</li>
					  <li class="list-group-item">Data inizio iscrizioni:</li>
					  <li class="list-group-item">Data fine iscrizioni:</li>
					</ul>
		    		<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
	  			</div>
			</div>
				<form class="row g-3 w-75 p-5" th:action="@{/iscrizione}" sec:authorize = "isAuthenticated()">
				  <div class="col-md-4">
				    <label for="validationDefault01" class="form-label">Nome:</label>
				    <input type="text" class="form-control" id="validationDefault01"  required>
				  </div>
				  <div class="col-md-4">
				    <label for="validationDefault02" class="form-label">Cognome:</label>
				    <input type="text" class="form-control" id="validationDefault02"  required>
				  </div>
				  <div class="col-md-4">
				    <label for="validationDefaultUsername" class="form-label">Username</label>
				    <div class="input-group">
				      <input type="text" class="form-control" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
				    </div>
				  </div>
				  <div class="col-md-6">
				    <label for="validationDefault03" class="form-label">Città:</label>
				    <input type="text" class="form-control" id="validationDefault03" required>
				  </div>
				  <div class="col-md-3">
				    <label for="validationDefault04" class="form-label">Nazionalità:</label>
				    <input type="text" class="form-control" id="validationDefault04" required>
				  </div>
				  <div class="col-md-3">
				    <label for="validationDefault05" class="form-label">CAP:</label>
				    <input type="text" class="form-control" id="validationDefault05" required>
				  </div>
				  <div class="col-12">
				    <div class="form-check">
				      <input class="form-check-input" type="checkbox" id="invalidCheck2" required>
				      <label class="form-check-label" for="invalidCheck2">
				        Agree to terms and conditions
				      </label>
				    </div>
				  </div>
				  <div class="col-12">
				    <button class="btn btn-primary" type="submit">Submit form</button>
				  </div>
				</form>
			<div sec:authorize = "isAnonymous()">Per prendere parte a questo torneo devi essere registrato e devi aver effettuato l'accesso</div>
		</div>
	</body>
</html>