<div th:fragment="defaultHoF" class="card mb-3 bg-dark text-white">
  <div class="row g-0 team_det">
    <div class="col-md-4">
      <img th:src="@{/images/rollingBits.jpg}" class="team_logo img-fluid rounded-start" alt="..."/>
    </div>
    <div class="col-md-8">
      <div class="card-body">
       <h5 class="card-title">The Rolling Bits</h5>
       <p class="card-text">Tornei vinti: 69</p>
		<table class="table table-hover table-dark table-bordered">
			<tr>
				<th scope="col">Giocatori</th>
				<th scope="col">Nome</th>
				<th scope="col">Cognome</th>
				<th scope="col">Soprannome</th>
			</tr>
			<tr>
				<td>#</td>
				<td>Matteo</td>
				<td>Carnebella</td>
				<td>Barilo</td>
			</tr>
			<tr>
				<td>#</td>
				<td>Oliviero</td>
				<td>Caico</td>
				<td>Tolly</td>
			</tr>
			<tr>
				<td>#</td>
				<td>Il terzo</td>
				<td>E il quarto</td>
				<td>Non ci servono</td>
			</tr>
			<tr>
				<td>#</td>
				<td>Siamo fortissimi</td>
				<td>Noi</td>
				<td>Due</td>
			</tr>
		</table>			        
      </div>
    </div>
 </div>